body {
    background-image: url(img/background.jpg);
    width: auto;
    height: 1080px;
    background-repeat: no-repeat;
}

a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 25px black;
}

.main-list, h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 50px black;
}

h1 {
    font-size: 120px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.25);

}



ul {
    font-size: 40px;
    list-style-type: none;
}

li {
    padding: 15px;

}