#main-body {
    background-image: url(img/background.jpg);
    width: auto;
    height: 1080px;
    background-repeat: no-repeat;
}

.recipe-page h1 {
    font-size: 100px;

}


.recipe-page {
    background-image: url(img/background2.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-body {
   color: white;
   padding: 5px;
   margin-left: 35%;
   margin-right: 15%;
   background-color: rgba(0, 0, 0, 0.5);
   box-shadow: 10px 10px 25px black;
}

.image {
    padding-left: 12%;
}

img {
    float: left;
    box-shadow: 10px 10px 25px black;
}

a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 25px black;
}

.main-list, h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 50px black;
}

#main-body ul {
    list-style-type: none;
}

.main-list li {
    padding: 15px;
}


h1 {
    font-size: 120px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.25);

}


